* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Helvetica';
    height: 100vh;
}

#drawing {
	width: 100%;
	height: 0px;
}

#change {
    padding: 10;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

#button{
    background-color: white;
}

tspan {
	/* fill: blue; */
	/* stroke: #f06; */
	/* stroke-width: 0.85; */
    /* font-family: 'Helvetica'; */
    /* font-size: 30px; */
}
input[type=text] {
	width: 100%;
    font-family: 'Helvetica';
    font-size: 14px;
    outline: none;
    color: #666;
}


svg {
    width: 100%;
    height: 100vh;
}

circle {
    transition: transform 0.2s;
    /* transform-origin: center; */
    animation: foo alternate infinite;
    animation-duration: var(--time);
    fill: var(--color)
}

@keyframes foo {
    from {}

    to { 
        transform: scale(0.5)
    }
}


path {
    /* animation: rotate 2s ease; */
    

    /* mix-blend-mode: difference; */
    /* fill: red; */
    /* opacity: 0.3; */
    /* stroke-width: 50; */
    /* stroke:aquamarine;  */
    stroke-linejoin: round;
    /* border: dotted; */ */
    /* stroke: red; */
    /* animation: dingding 5.5s ease var(--delay) both infinite; */
    /* transform-origin: 0 0; 
    animation: rotate 0.5 ease; */
}

/* wird von überklassen überschrieben */
path.touch {
    /* stroke: black; */
}

path.thicc{
    /* stroke: blue; */
    /* stroke-width: 1;
    stroke-linejoin: round; */
}

@keyframes dingding {
    to{
        opacity: 0;
    }
}

/* @keyframes rotate {
    from{
        transform:rotate(0deg);
        transform-origin: 500px 500px;
    }
    to{
        transform:rotate(360deg);
    }
} */

@keyframes scale {
    from{
        /* transform-origin: 500px 500px; */
        transform: scale(1)
    }
    to{
        /* transform-origin: 500px 500px; */
        transform: scale(.5);
    }
}
